* { 
    box-sizing: border-box; 
    margin: 0; 
    padding: 0; 
  } 
   
  body { 
    background-color: #f8bfff; 
    color: #222;  
    font-size: 1rem; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    width: 100vw; 
    height: 100vh; 
    font-family: sans-serif;
  } 
   
  .container{
    box-shadow: 2px 2px 20px rgb(0, 0, 0);
    border-radius: 4px;
  }

  .mobile { 
    display: flex; 
    justify-content: space-between; 
    margin-bottom: 40px; 
    font-size: 18px; 
    font-weight: 500; 
  } 
   
  .temperature-converter { 
    background: #fff; 
    border-radius: 5px; 
    position: relative; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    padding: 20px 25px 45px; 
    min-width: 320px; 
    width: 100%; 
    height: auto; 
    box-shadow: -5px -5px 250px 0px rgba(255, 255, 255, 0.02) inset; 
    backdrop-filter: blur(21px); 
  } 
   
  .title { 
    color: #222; 
    font-size: 1.3rem; 
    text-align: center; 
  } 
  .result { 
    text-align: center; 
    margin: 20px 0; 
  } 
  .result-heading { 
    color: #555; 
    font-size: 1rem; 
    
  } 
  .celsius-value { 
    border-bottom: 2px solid #ccc; 
    padding: 10px; 
    transition: all .45s ease; 
  } 
  label { 
    color: #555; 
    font-size: 0.8rem; 
    margin-bottom: 5px; 
  } 
  input, 
  select { 
    background: transparent; 
    border: none; 
    outline: none; 
    border-bottom: 2px solid #ccc; 
    padding: 8px; 
    margin-bottom: 15px; 
  } 
  input:focus { 
    border: 1px solid #000000; 
    border-radius: 4px;
  } 
  .degree-type { 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding: 20px 0; 
  } 
  .degree-field { 
    display: flex; 
    flex-direction: column; 
    width: 60%; 
  } 
  option { 
    background-color: #000000; 
    color: #f6f6f6; 
    border-radius: 4px;
  } 
  
  #convert-btn { 
    background-color: hsl(295, 100%, 28%);
    border: none; 
    outline: none; 
    border-radius: 5px; 
    color: #f6f6f6; 
    cursor: pointer; 
    font-weight: bold; 
    letter-spacing: 1px; 
    text-transform: uppercase; 
    margin-top: 10px; 
    padding: 12px 80px; 
    transition: all 0.3s ease-in; 
  } 
  #convert-btn:hover { 
  background-color: green; 
  } 

  .fa { 
    margin-left: -12px; 
    margin-right: 8px; 
  } 
   
  .loading { 
    display: none; 
  }